@model IEnumerable<Project>;
@{
    ViewData["Title"] = "Projekti";
}
@section Styles{
    <link rel="stylesheet" href="~/css/user.css" />
}

<body>

    <section data-aos="fade-up" class="hero3">
        <div class="hero-inner">
            <h1 >Projekti</h1>
            <h2>Projekti RC Sarajevo</h2>
        </div>
    </section>

    <hr />
    
    <div class="text-center">
        <h2><span class="h2-secondary">Aktuelno</span></h2>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="d-flex flex-row"></div>
                <div class="row news-card p-3 bg-white">
                    @foreach (var project in Model)
                    {
                    <div class="col-md-4">
                        <div class="feed-image"><img class="news-feed-image rounded img-fluid img-responsive" src="@project.PhotoUrl"></div>
                    </div>
                    <div class="col-md-8 mt-3 mt-lg-0">
                        <div class="news-feed-text">
                                <h4>@project.Title</h4>
                                <h5>@project.SubTitle</h5><span>@project.Content<br></span>
                                <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                                    <div class="d-flex creator-profile">
                                        <div class="d-flex flex-column ml-2">
                                            <span class="date">@project.CreatedAt</span>
                                        </div>
                                </div><i class="fa fa-share share"></i>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <hr />
    
    <section>
        <div class="text-center video-container">
            <video width="1920" height="1080" autoplay="" loop="" muted="" data-webm="" type="0"><source src="~/img/projects1-video.mp4" type="video/mp4" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
        </div>
    </section>
 
</body>

