@model IEnumerable<Member>;
@{
    ViewData["Title"] = "Members";
    Layout = "Admin/_Layout";
    int n = 1;
}
<div class="container">
    <h1>Index members</h1>
    <table class="table table-striped">
        <thead class="table-dark">
            <th>#</th>
            <th>Name</th>
            <th>Date updated</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @foreach(var member in Model)
            {
                <tr>
                    <td>@(n++)</td>
                    <td>@member.Name</td>
                    <td>@(member.UpdatedAt.ToString("dd.MM.yyyy."))</td>
                    <td>
                        <a class="btn btn-primary" asp-route-id="@member.Id" asp-action="Details">Details</a>
                        <a class="btn btn-success" asp-route-id="@member.Id" asp-action="Edit">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@member.Id" data-bs-name="@member.Name">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Create">Kreiraj korisnika</a>
</div>

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-controller="Member" asp-action="Delete" id="delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal')
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const name = button.getAttribute('data-bs-name')
            const id = button.getAttribute('data-bs-id')

            // Update the modal's content.
            const modalTitle = deleteModal.querySelector('.modal-title')
            const modalBody = deleteModal.querySelector('.modal-body')
            const modalForm = deleteModal.querySelector('#delete')

            modalForm.action = `Member/Delete/${id}`
            modalTitle.textContent = `Are you sure?`
            modalBody.textContent = `Are you sure you want to delete ${name} from Rotary members?`
        })
    }
</script>
